<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BhpAssetComplianceWpfOneDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="BhpAssetComplianceWpfOneDesktop.Resources.FilePaths" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <BhpAssetComplianceWpfOneDesktop.Properties.Settings>
      <setting name="MineSequenceExcelFilePath" serializeAs="String">
        <value>123</value>
      </setting>
    </BhpAssetComplianceWpfOneDesktop.Properties.Settings>
    <BhpAssetComplianceWpfOneDesktop.Resources.FilePaths>
      <setting name="MineSequenceExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="MineSequenceCSVFilePath" serializeAs="String">
        <value>Select CSV file path</value>
      </setting>
      <setting name="MineComplianceExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="DepressurizationComplianceExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="DepressurizationComplianceCSVFilePath" serializeAs="String">
        <value>Select CSV file path</value>
      </setting>
      <setting name="GeotechnicalNotesExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="GeotechnicalNotesCSVFilePath" serializeAs="String">
        <value>Select CSV file path</value>
      </setting>
      <setting name="QuartersReconciliationFactorsExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="ProcessComplianceExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="ConcentrateQualityExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
      <setting name="HistoricalRecordExcelFilePath" serializeAs="String">
        <value>Select Excel file path</value>
      </setting>
    </BhpAssetComplianceWpfOneDesktop.Resources.FilePaths>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>